<header>
    <div *ngIf="auth.user | async as user; else Login">
      
      <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <div class="container-fluid">
          <a class="navbar-brand" routerLink="">
            <img src="../favicon.ico" alt="" width="30" height="24" class="d-inline-block align-text-top"/>
          </a>
            <ul class="navbar-nav me-auto mb-2 mb-lg-1">
              <li class="nav-item">
                <a class="nav-link" routerLink="loggedUser">Ver Contraseñas</a>
              </li>
            </ul>
            <div>
              <span class="navbar-text">{{ user.email }} </span>
              <button (click)="auth.logout()" class="btn btn-outline-light">Logout</button>
            </div>
        </div>
      </nav>
      
    </div>

  <ng-template #Login>
    <div class="page">
      <div class="LoginDiv .bg-info">
        <form class="form">
          <h1>Inicio de Sesión</h1>
          <br/>
          <div class="d-grid gap-2">
            <input class="form-control" type="text" name="email" placeholder="Email" [(ngModel)] = "auth.email"/><br>
            <input class="form-control" type="password" name="password" placeholder="Contraseña" [(ngModel)] = "auth.pass"/>
            <br>
            <br>
            <button (click)="auth.login()" class="btn btn-outline-dark">Login</button>
          </div>
        </form>
      </div>
    </div>
  </ng-template>
</header>


<router-outlet *ngIf="auth.user | async as user;"></router-outlet>
